.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 10px 0;
  position: relative;
}

.logo {
  height: 100px;
}

.menu-toggle {
  display: none;
  background: none;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar {
  width: 100%;
  background-color: black;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav-links li {
  position: relative;
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.nav-links a:hover {
  background-color: #cc0000;
  border-radius: 5px;
}

/* Submenú */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  min-width: 160px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 10px;
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .navbar.active {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .dropdown-menu {
    position: relative;
  }
}
